<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ lang_dir }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
		<meta name="description" content="">
		<meta name="author" content="">

		<title>{{title}}</title>

		<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
		<!-- Bootstrap core CSS -->
		<link href="/css/external.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="/css/style.css" rel="stylesheet">
	</head>

	<body>

		<div class="headwrp" data-spy="affix" data-offset-top="30">
			<div class="container">
				<div class="header">
					<!--
					<ul class="nav nav-pills pull-right">
						<li><a href="/index.html"><b>Link</b> <small>1</small></a></li>
						<li><a href="/index.html"><b>Link</b> <small>2</small></a></li>
					</ul>
					-->
					<div class="user">
						<div class="userimg" style="background-image:url()"></div>
						<h3>{{ gettext("Profil") }}: {{user.firstname}} {{user.lastname}}</h3>

					</div>
					<div class="logo">
						<a href="/index.html">
							<img src="/img/logo.png" alt="{{title}}" />
						</a>
					</div>
				</div>
				
			</div> <!-- /container -->

		</div>

		{% block body %}{% endblock %}
			
		<script src="/js/main.js?v={{version}}"></script>
		<script type="text/javascript">
		var _init = JSON.parse( '{{ init|safe }}' )
		</script>

	</body>
</html>