{% extends "layouts/login.html" %}

{% block body %}
<noscript>
	<div class="alert alert-warning" role="alert">{{ gettext("Um milon care nutzen zu können, müssen JavaScript und Cookies in Ihrem Browser aktiviert sein.")}}</div>
</noscript>
<div id="logintypes">
	<div{% if type == "classic" %} style="display:none;"{% endif %} id="login_passwordless">
		{% if msg == "MAILSEND" %}
			<div class="infosend">
				<h3>{{ gettext("Prüfen Sie Ihre E-Mails.")}}</h3>
				<p>{{ gettext("Wir haben Ihnen den Login-Link an Ihre Adresse geschickt.", mail )}}</p>
				<a class="btn btn-xs btn-default" href="/login?mail={{mail}}">{{ gettext("Erneut schicken")}}</a>
			</div>
		{% else %}
			{% if msg == "TOKEININVALID" %}
				<p class="text-danger">{{ gettext("Token nicht gültig. Bitter versuchen Sie es erneut")}}</p>
			{% endif %}
			<form role="form" action="/login/passwordless" method="POST">
				<div class="form-group">
					<input type="email" name="email" class="form-control input-lg" id="loginform-email" placeholder="{{ gettext("Ihre E-Mail")}}"{%if mail%} value="{{mail}}"{% endif %} />
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block">{{ gettext("Anmelden") }}</button>
				<small class="help-block">{{ gettext("Dadurch wird Ihnen eine E-Mail mit einem Link geschickt über dem Sie sich einloggen können.")}}</small>
			</form>
		{% endif %}
		<a class="btn btn-info btn-sm btn-block chngtype" id="changeto_classic">{{ gettext("Klassischer Login") }}</a>
	</div>
	<div{% if type != "classic" %} style="display:none;"{% endif %} id="login_classic" >
		
		<form role="form" action="/login" method="POST">
			</noscript>
			<div class="form-group">
				<input type="email" name="email" class="form-control input-lg" id="loginform-email" placeholder="{{ gettext("Ihre E-Mail")}}"{%if mail%} value="{{mail}}"{% endif %} />
			</div>
			<div class="form-group">
				<input type="password" name="password" class="form-control input-lg" id="loginform-pw" placeholder="{{ gettext("Ihr Passwort")}}">
			</div>
			{% if msg == "ELOGINFAILED" %}
				<p class="text-danger">{{ gettext("Login fehlgeschlagen")}}</p>
			{% endif %}
			<div class="form-group">
				<div class="checkbox input-sm">
					<label>
						<input name="unsafe" type="checkbox"> {{ gettext("Angemeldet bleiben")}} <span id="keeplogin" data-toggle="tooltip" data-placement="bottom" title="{{ gettext("Dies sollte nur an einem sicheren Computer aktiviert werden")}}" class="glyphicon glyphicon-info-sign"></span>
					</label>
				</div>
			</div>
			{% if redir %}
			<input type="hidden" class="redir" value="{{redir}}" />
			{% endif %}
			<button type="submit" class="btn btn-primary btn-lg btn-block">{{ gettext("Anmelden") }}</button>
		</form>
		<a class="btn btn-info btn-sm btn-block chngtype" id="changeto_pwless">{{ gettext("Login ohne Passwort") }}</a>
	</div>
</div>
{% endblock %}