@import 'nib'

/* COLORS */

/* http://paletton.com/?redir=%233j32Fw0w0w0w0#uid=32x0u0kk0rLa9IrfvwsoNoSrMjp */
keyColorA = #8CC84B
keyColorB = #5A0F65
bgColor = #fff
bgColorDark = #000

keyColorGrey = #ddd
pictureBgColor = #fff

darkText = #555
lightText = #ddd
redText = #d9534f
greenText = #5cb85c


/* Fonts */
mainFont = Helvetica,Arial,sans-serif
headerFont = "Helvetica Neue",Helvetica,Arial,sans-serif

/* responsive */
_resp_tablet = 768px 
_resp_mobile = 480px

/* CONFIG COLORS */ 

/* General */
clLink = keyColorB

/* Bootstrap */
clNavbar = #222

/* Footer */
clFooterBg = keyColorB

/* blocks */
block_radius = 2px