@import 'nib'

/* COLORS */

/* http://colorschemedesigner.com/%233j32Fw0w0w0w0#1k32hp1Wqg0Vh */
keyColorA = #60574f
keyColorB = #003481
bgColor = #fff
bgColorDark = #000

keyColorGrey = #ddd
pictureBgColor = #fff

darkText = #555
lightText = #ddd
redText = #d9534f
greenText = #5cb85c


/* Fonts */
mainFont = Arial,Helvetica,sans-serif
headerFont = "Montserrat",Arial,Helvetica,sans-serif

/* responsive */
_resp_tablet = 768px 
_resp_mobile = 480px

/* CONFIG COLORS */ 

/* General */
clLink = keyColorB

/* Bootstrap */
clNavbar = #222

/* Footer */
clFooterBg = keyColorB

/* blocks */
block_radius = 2px