body 
	background-image url( '/img/bg.jpg' )
	background-position center center
	background-size cover
	
.container.login
	padding-top 50px
	

	.loginrow
		padding 30px 30px 50px
		background bgColor
		border-radius block_radius
		position relative
		
	.chngtype
		position absolute
		bottom 1px
		left 1px
		right 1px
		display block
		width auto
		border-radius bottom block_radius
		border-radius top 0
		
	input
	.btn
		font-family headerFont
	
	.btn-primary
		background-color keyColorB
		border-color keyColorB - 5%
	.btn-info
		background-color keyColorA
		border-color keyColorA - 5%
	
	.checkbox
		label
			line-height 22px
	
	.infosend
		text-align center
		
	p.logo
		text-align center
		margin 5px 0 30px
		img 
			width 200px

